### Dataframe Definitions

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [6]:
randn(3,3)

array([[ 0.29329929, -1.12213436,  0.47690977],
       [-0.09869029, -1.41991353, -1.68227013],
       [ 0.11820143, -0.62983686, -0.56190589]])

In [7]:
df = pd.DataFrame(data = randn(3,3),index = ["A","B","C"],columns = ["Column1","Column2","Column3"])

In [8]:
df

    Column1   Column2   Column3
A  0.636571 -1.053550  0.496582
B -0.444041  0.860198  1.311082
C  0.418689  0.776463  0.971795

<font color='green'>Below filter returns a series</font>

In [9]:
df["Column1"]

A    0.636571
B   -0.444041
C    0.418689
Name: Column1, dtype: float64

In [10]:
type(df["Column1"])

pandas.core.series.Series

### <font color='green'>To list the data of an index, we use loc function </font>

In [12]:
df.loc["A"]

Column1    0.636571
Column2   -1.053550
Column3    0.496582
Name: A, dtype: float64

In [13]:
type(df.loc["A"])

pandas.core.series.Series

### <font color='green'>We can use double [[ ]] to modify the dataframe </font>

In [15]:
df[["Column1","Column2"]]

    Column1   Column2
A  0.636571 -1.053550
B -0.444041  0.860198
C  0.418689  0.776463

### Adding a new column

In [16]:
df["Column4"] = pd.Series(randn(3),index = ["A","B","C"])

In [17]:
df

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

In [18]:
df["Column5"] = df["Column1"] + df["Column2"] + df["Column3"]

In [19]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.038236  0.789392 -0.120950  0.265030  0.706678
B  0.494801  0.739227 -0.069571  0.599714  1.164457
C -1.887459  2.250566  0.737256  0.008452  1.100363

### Removing a column

In [20]:
df

    Column1   Column2   Column3   Column4   Column5
A  0.038236  0.789392 -0.120950  0.265030  0.706678
B  0.494801  0.739227 -0.069571  0.599714  1.164457
C -1.887459  2.250566  0.737256  0.008452  1.100363

In [21]:
df.drop("Column5") # Böyle verirsek default axis değeri 0 olduğu için index silmeye çalışacak.

ValueError: labels ['Column5'] not contained in axis

In [22]:
df.drop("Column5",axis = 1)

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

In [24]:
df # değişiklikler yansımadı.

    Column1   Column2   Column3   Column4   Column5
A  0.038236  0.789392 -0.120950  0.265030  0.706678
B  0.494801  0.739227 -0.069571  0.599714  1.164457
C -1.887459  2.250566  0.737256  0.008452  1.100363

In [25]:
df.drop("Column5",axis = 1,inplace=True)

In [27]:
df # Değişiklikler yansıdı.

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

#### Loc ve ILoc

In [28]:
df

    Column1   Column2   Column3   Column4
A  0.038236  0.789392 -0.120950  0.265030
B  0.494801  0.739227 -0.069571  0.599714
C -1.887459  2.250566  0.737256  0.008452

In [30]:
df[["Column1","Column2"]]

    Column1   Column2
A  0.038236  0.789392
B  0.494801  0.739227
C -1.887459  2.250566

In [31]:
df.loc["A"]

Column1    0.038236
Column2    0.789392
Column3   -0.120950
Column4    0.265030
Name: A, dtype: float64

In [34]:
df.iloc[0] # 0.index yani A

Column1    0.038236
Column2    0.789392
Column3   -0.120950
Column4    0.265030
Name: A, dtype: float64

In [35]:
df.loc["A","Column1"]

0.03823594391600425

In [36]:
df.loc["B","Column2"]

0.7392265808666498

In [37]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A  0.038236  0.789392
B  0.494801  0.739227