## Pandas Series

In [2]:
import numpy as np
import pandas as pd

#### Create a series- 1

In [8]:
labels_list = ["name1","name2","name3","name4","name5"]

In [4]:
data_list = [10,20,30,40,50]

In [9]:
pd.Series(data = labels_list )

0    name1
1    name2
2    name3
3    name4
4    name5
dtype: object

In [10]:
pd.Series(data = data_list,index = labels_list)

name1    10
name2    20
name3    30
name4    40
name5    50
dtype: int64

#### Create a series- 2

In [11]:
npArray = np.array([10,20,30,40,50])

In [12]:
pd.Series(data = npArray)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [25]:
pd.Series(data = npArray,index = labels_list)

name1    10
name2    20
name3    30
name4    40
name5    50
dtype: int32

In [26]:
pd.Series(data = labels_list,index = npArray)

10    name1
20    name2
30    name3
40    name4
50    name5
dtype: object

In [11]:
pd.Series(data = npArray,index = ["A","B","C","D","E"])

A    10
B    20
C    30
D    40
E    50
dtype: int32

#### Create a series- 3

In [13]:
dataDict = {"name1":30,"name2":80,"name3":60}

In [14]:
pd.Series(dataDict)

name1    30
name2    80
name3    60
dtype: int64

#### Operations on series

In [15]:
ser2017 = pd.Series([5,10,14,20],["Spain","USA","Italy","Greece"])

In [16]:
ser2018 = pd.Series([2,12,12,6],["Spain","USA","Germany","Greece"])

In [17]:
ser2017

Spain      5
USA       10
Italy     14
Greece    20
dtype: int64

In [18]:
ser2018

Spain       2
USA        12
Germany    12
Greece      6
dtype: int64

In [19]:
ser2017["Spain"]

5

In [20]:
ser2017["USA"]

10

In [21]:
ser2018["Germany"]

12

In [22]:
ser2017  + ser2018

Germany     NaN
Greece     26.0
Italy       NaN
Spain       7.0
USA        22.0
dtype: float64

In [23]:
total = ser2017 + ser2018

In [24]:
total

Germany     NaN
Greece     26.0
Italy       NaN
Spain       7.0
USA        22.0
dtype: float64